$shadow-nav-light: 0 0 1px $white;
$shadow-cookie: 0 4px 12px $color-black-opacity;
$cart-shadow: 0 8px 16px rgba(0, 0, 0, .5), 0 50px 100px rgba(0, 0, 0, .2);
$bottom-dropdown-fixed: 0 -8px 16px rgba(0, 0, 0, .8), 0 -50px 100px rgba(0, 0, 0, .32);
$award-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 16px 32px rgba(0, 0, 0, 0.08);