.lazyload {
  opacity: 0;
  transition: opacity 1s;
}

@include keyframes(lazyload-animation) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lazyloaded {
  @include animation(lazyload-animation, .15s, 1, 0, forwards);
}

.color {
  &--primary {
    color: $color-primary;
  }
}


.type {
  &--bold {
    @include font-primary-bold;
  }
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

