$title-height: 8rem;
.display {
  position: relative;
  display: flex;
  box-sizing: content-box;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  @include mq('tablet') {
    height: calc(100vw / 1.5);
  }

  a,
  button,
  h1 {
    z-index: z('content');
  }

  &--allow-overflow {
    max-height: initial;
  }

  &--home, &--store {
    display: block;
    margin-top: 0;

    @include mq('tablet') {
      height: unset;
    }

    svg {
      position: absolute;
      z-index: 2;
      top: 24px;
      left: $grid-outer-gutter--mobile;

      @include mq('tablet-small') {
        left: calc(#{$grid-outer-gutter--mobile} * 2);
      }

      @include mq('desktop') {
        left: calc(#{$grid-outer-gutter--mobile} * 3);
      }

      @include mq('desktop-wide') {
        left: calc(#{$grid-outer-gutter--mobile} * 4);
      }
    }

    .display__picture img {
      top: 0;
    }
  }

  &__mask {
    position: absolute;
    z-index: z('content');
    top: 0;
    transform: skewY(-#{$skewer-angle});
    transform-origin: top left;
    width: 100%;
    //height: 11vw;
    height: calc(#{tan($skewer-angle)} * 100vw);
    background-color: $black;
    //min-height: $title-height;
  }

  &__title-store {
    @include grid-wrapper;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 32px;

    h2 {
      font-size: 2.2rem;
    }
  }


  &__title {
    @include grid-wrapper;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: skewY(-#{$skewer-angle});
    transform-origin: top right;
    height: 11vw;
    min-height: $title-height;
    text-transform: uppercase;
    background: $color-primary;

    &--home {
      @include nav-wrapper;
      justify-content: flex-start;
      transform: none;
      height: auto;
      margin-bottom: 64px;
      padding-top: 48px;
      padding-bottom: 48px;
      background: $gradient-image-rev;

      @include mq('desktop') {
        padding-top: 64px;
      }

      h1 {
        @include mq('desktop') {
          width: grid-el-dtp(6);
        }
      }
    }

    &--home-ig {
      position: relative;
      @include nav-wrapper;
      justify-content: flex-start;
      transform: none;
      height: auto;
      padding-top: 48px;
      padding-bottom: 48px;
      background: $gradient-image-rev;

      @include mq('desktop') {
        padding-top: 64px;
      }
    }

    h1 {
      @include font-primary-bold;
      margin-block-end: 0;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 64px;
    left: 0;
    width: 100%;

    button {
      box-shadow: 0 4px 12px $color-black-opacity;
    }
  }

  &__picture {
    z-index: z('bg');

    img {
      position: relative;
      top: $title-height;
      width: 100%;
      object-fit: cover;

      @include mq('tablet') {
        height: calc((100vw / 1.5) - #{$title-height});
      }
    }
  }

  .swiper-wrapper {
    height: 100vw;

    @include mq('desktop') {
      height: calc(100vw / 2);
    }

    @include mq('desktop-wide') {
      height: calc(100vw / 3);
    }
  }

  .swiper-slide {
    overflow: hidden;
    width: 100%;
    height: auto;

    img {
      @include image-fit;
    }
  }


  &--store {
    .swiper-container {
      @include grid-wrapper;
    }

    .swiper-slide {
      //opacity: .62;

      img {
        object-fit: contain;
      }

      @include mq('tablet') {
        opacity: 1;
      }
    }

    .swiper-slide-visible.swiper-slide-active {
      opacity: 1;
    }

    .swiper-wrapper {
      height: auto;
      margin-bottom: 80px;
    }
  }

}